{
  "extends": ["@grafana/eslint-config"],
  "root": true,
  "rules": {
    // "no-only-tests/no-only-tests": "error",
    "react/prop-types": "off",
    "jsx-quotes": [1, "prefer-double"],
    "quotes": [1, "single"]
  }
}
